In [105]:
import pandas as pd
import matplotlib.pyplot as plt

In [106]:
productivity = pd.read_csv("../Datasets/cleaned_Productivity.csv")
technology = pd.read_csv("../Datasets/TAI2000-2018_Overall.csv")
technology.head()

,Country_Name,Country_Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Afghanistan,AFG,0.004489,0.006374,0.014635,0.023505,0.032512,0.044002,0.054365,0.065803,...,0.089213,0.085963,0.093105,0.130045,0.132638,0.163622,0.141672,0.180795,0.185799,0.183994
1,Albania,ALB,0.218422,0.230951,0.242822,0.247619,0.257197,0.269394,0.273600,0.291121,...,0.317466,0.345352,0.366461,0.393062,0.398278,0.385084,0.390668,0.381896,0.389779,0.369653
2,Algeria,DZA,0.166487,0.171746,0.177423,0.182908,0.196723,0.219868,0.227779,0.244386,...,0.245921,0.253603,0.261576,0.268053,0.278684,0.281765,0.291254,0.299628,0.305394,0.309979
3,Angola,AGO,0.077702,0.097637,0.105566,0.110781,0.111409,0.115007,0.117140,0.130538,...,0.131415,0.138366,0.149115,0.155742,0.157266,0.164569,0.168217,0.153924,0.165806,0.140741
4,Argentina,ARG,0.323863,0.344568,0.342679,0.348126,0.365217,0.377037,0.383146,0.394019,...,0.406505,0.437918,0.454343,0.462491,0.470043,0.454001,0.465262,0.458214,0.460550,0.448844

In [107]:
# don't need the names and reformat
technology.drop(columns = "Country_Name", inplace=True)
technology.set_index("Country_Code", inplace=True)
technology

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country_Code,,,,,,,,,,,,,,,,,,,
AFG,0.004489,0.006374,0.014635,0.023505,0.032512,0.044002,0.054365,0.065803,0.081003,0.089213,0.085963,0.093105,0.130045,0.132638,0.163622,0.141672,0.180795,0.185799,0.183994
ALB,0.218422,0.230951,0.242822,0.247619,0.257197,0.269394,0.273600,0.291121,0.286356,0.317466,0.345352,0.366461,0.393062,0.398278,0.385084,0.390668,0.381896,0.389779,0.369653
DZA,0.166487,0.171746,0.177423,0.182908,0.196723,0.219868,0.227779,0.244386,0.238559,0.245921,0.253603,0.261576,0.268053,0.278684,0.281765,0.291254,0.299628,0.305394,0.309979
AGO,0.077702,0.097637,0.105566,0.110781,0.111409,0.115007,0.117140,0.130538,0.128065,0.131415,0.138366,0.149115,0.155742,0.157266,0.164569,0.168217,0.153924,0.165806,0.140741
ARG,0.323863,0.344568,0.342679,0.348126,0.365217,0.377037,0.383146,0.394019,0.396435,0.406505,0.437918,0.454343,0.462491,0.470043,0.454001,0.465262,0.458214,0.460550,0.448844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VEN,0.265800,0.275979,0.280499,0.279019,0.293209,0.320398,0.339812,0.363055,0.372247,0.375083,0.389939,0.393456,0.405493,0.411015,0.401991,0.403834,0.385657,0.386727,0.379183
VNM,0.224077,0.245710,0.250799,0.257298,0.274236,0.292188,0.298114,0.316627,0.340699,0.360082,0.389236,0.425536,0.451610,0.449278,0.450650,0.457498,0.444492,0.465620,0.489066
YEM,0.078769,0.081217,0.087044,0.088376,0.086195,0.097170,0.095837,0.109261,0.116013,0.123701,0.151275,0.152417,0.156704,0.168267,0.155591,0.173279,0.167511,0.178994,0.153322
ZMB,0.092435,0.101177,0.098189,0.100658,0.103982,0.108035,0.108984,0.103955,0.112310,0.108936,0.111250,0.130082,0.145005,0.138395,0.135185,0.158612,0.204305,0.169568,0.151030
ZWE,0.132465,0.161274,0.163370,0.166902,0.167422,0.165669,0.164440,0.160475,0.166313,0.154570,0.165431,0.171523,0.207016,0.196809,0.172643,0.189759,0.193592,0.198602,0.191333

In [108]:
#extract only the countries in both
technology = technology[technology.index.isin(productivity["LOCATION"])]